<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="assets/styles.css" />
    <title>ADD NEW VEHICLE</title>

</head>

<body>
    <nav>
        <div class="nav__header">
            <div class="logo nav__logo">
                <a href="admin_page">SVN8<span>TEAM</span></a>
            </div>
            <div class="nav__menu__btn" id="menu-btn">
                <span><i class="ri-menu-line"></i></span>
            </div>
        </div>

        <ul class="nav__links" id="nav-links">
            <li><a href="admin_vehicle">Vehicle</a></li>
            <li><a href="admin_driver">Driver</a></li>
            <li><a href="admin_trip">Trip</a></li>
            <li><a href="admin_report">Team report</a></li>
        </ul>

        <a href="..">
            <div class="explore__btn">
                <button class="btn">
                    Log Out <span><i class="ri-arrow-right-line"></i></span>
                </button>
            </div>
        </a>
    </nav>
    <header class="section__container header__container" id="home">
        <div class="header__image">
            <img src="assets/landing_page/img/header.png" alt="header" />
        </div>
        <div class="header__content">
            <h1>Vehicle Monitoring</h1>
        </div>
    </header>
    <section class="section__container special__container" id="special">
        <h2 class="section__header">Add a new driver:</h2>
    </section>

    <div class="container">
        <form action="#">
            <div class="formfirst">
                <div class="details">
                    <div class="fields">
                        <div class="input-field">
                            <label>Vehicle Type:</label>
                            <input type="text" placeholder="Enter Vehicle Type">
                        </div>
                        <div class="input-field">
                            <label>Manufacturer:</label>
                            <input type="text" placeholder="Enter Manufacturer">
                        </div>
                        <div class="input-field">
                            <label>Dimension:</label>
                            <input type="text" placeholder="Enter Dimension">
                        </div>
                        <div class="input-field">
                            <label>Load Capacity:</label>
                            <input type="texts" placeholder="Enter Load Capacity">
                        </div>
                        <div class="input-field">
                            <label>Fuel Type:</label>
                            <input type="text" placeholder="Enter Fuel Type">
                        </div>
                        <div class="input-field">
                            <label>Vehicle Cost:</label>
                            <input type="text" placeholder="Enter Vehicle Cose">
                        </div>
                    </div>
                    <button class="nextBtn">
                        <span class="btnNext">Save</span>
                        <i class="uil uil-navigator"></i>
                    </button>
                </div>
            </div>


        </form>
    </div>

    <footer class="footer" id="contact">
        <div class="footer__bar">
            Copyright © 2024 SVN8. All rights reserved.
        </div>
    </footer>

    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="assets/main.js"></script>
</body>

</html>