<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- ===== CSS ===== -->
  <link rel="stylesheet" href="assets\login\css\styles.css">

  <!-- ===== BOX ICONS ===== -->
  <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

  <title>Login</title>
</head>
<script>
  function trimInput() {
          $(".input").each(function(index, val){
              const inputValue =  $(this).val().trim();
              const name = $(this).attr('name');
              $(this).val(inputValue);
          });
      }
</script>
<body>
  <div class="l-form">
    <div class="shape1"></div>
    <div class="shape2"></div>

    <div class="form">
      <img src="assets/login/img/authentication.svg" alt="" class="form__img">

      <form action="./check-login-admin" class="form__content" method="post">
        <h1 class="form__title">Welcome</h1>
        <p>Phong Number:</p>
        <div class="form__div form__div-one">
          <div class="form__icon">
            <i class='bx bx-user-circle'></i>
          </div>

          <div class="form__div-input">
            <input type="text" class="form__input" name="phoneNumber" required>
          </div>
        </div>
        <p>Password:</p>
        <div class="form__div">
          <div class="form__icon">
            <i class='bx bx-lock'></i>
          </div>

          <div class="form__div-input">
            <input type="password" class="form__input" name="password" required>
          </div>
        </div>
        <div class = <%- check %> ? "true" : "false">
          Wrong phonenumber or password!!!
        </div>
        <input type="submit" class="form__button" value="Login" onclick="trimInput()">
      </form>
    </div>

  </div>

  <!-- ===== MAIN JS ===== -->
  <script src="assets\login\css\main.js"></script>
</body>

</html>