<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- ===== CSS ===== -->
  <link rel="stylesheet" href="assets/login/css/styles.css">

  <!-- ===== BOX ICONS ===== -->
  <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

  <title>SVN8 LOGIN</title>
</head>

<body>

  <div class="l-form">
    <div class="shape1"></div>
    <div class="shape2"></div>
    <div class="form">
      <img src="assets/login/img/authentication.svg" alt="" class="form__img">

      <form action="" class="form__content">
        <h1 class="form__title">Log in using your account on:</h1>

        <a href="user/login_user" class="form__link">
          <input type="button" class="form__button" value="Driver">
        </a>

        <a href="admin/login_admin" class="form__link">
          <input type="button" class="form__button" value="Administrator">
        </a>
      </form>
    </div>
  </div>

  <footer class="footer" id="contact">
    <div class="footer__bar">
      Copyright © 2024 SVN8. All rights reserved.
    </div>
  </footer>
  <!-- ===== MAIN JS ===== -->
  <script src="assets/login/js/main.js"></script>
</body>

</html>