<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <link rel="stylesheet" href="styles.css" />
  <title>ALERT</title>
</head>

<body>
  <nav>
    <div class="nav__header">
      <div class="logo nav__logo">
        <a href="">SVN8<span>TEAM</span></a>
      </div>

      <div class="nav__menu__btn" id="menu-btn">
        <span><i class="ri-menu-line"></i></span>
      </div>
    </div>

    <ul class="nav__links" id="nav-links">
      <li><a href="login_alert">Vehicle</a></li>
      <li><a href="login_alert">Driver</a></li>
      <li><a href="login_alert">Trip</a></li>
      <li><a href="login_alert">Team report</a></li>
    </ul>

    <a href="/login_role">
      <div class="explore__btn">
        <button class="btn">
          Sign In <span><i class="ri-arrow-right-line"></i></span>
        </button>
      </div>
    </a>

  </nav>

  <header class="section__container header__container" id="home">
    <div class="header__image">
      <img src="assets/landing_page/img/header.png" alt="header" />
    </div>
    <div class="header__content">
      <h1>You need to sign in to view this page!</h1>

      <a href="login_role">
        <div class="header__btn">
          <button class="btn">Sign in</button>
        </div>
      </a>

    </div>
  </header>

  <footer class="footer" id="contact">
    <div class="footer__bar">
      Copyright © 2024 SVN8. All rights reserved.
    </div>
  </footer>


  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="main.js"></script>
</body>

</html>