<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <link rel="stylesheet" href="styles.css" />
  <title>SVN8 VEHICLE TEAM</title>
</head>

<body>
  <div class="hero">
    <nav>
      <div class="nav__header">
        <div class="logo nav__logo">
          <a href="user_page">SVN8<span>TEAM</span></a>
        </div>

        <div class="nav__menu__btn" id="menu-btn">
          <span><i class="ri-menu-line"></i></span>
        </div>
      </div>

      <ul class="nav__links" id="nav-links">
        <li><a href="user_vehicle" >Vehicle</a></li>
        <li><a href="user_driver">Driver</a></li>
        <li><a href="user_trip">Trip</a></li>
        <li><a href="user_report">Team report</a></li>
      </ul>

      <i class="ri-account-circle-fill ri-2x" onclick="toggleMenu()"></i>

        <div class="sub-menu-wrap" id="subMenu">
          <div class="sub-menu">

            <div class="user-info">
              <i class="ri-user-2-fill ri-2x"></i>
              <p> <%- user.name %> </p>
            </div>

            <hr>

            <a href="user_profile" class="sub-menu-link">
              <i class="ri-id-card-line ri-2x"></i>
              <p>Driver Profile</p>
            </a>

            <a href=".." class="sub-menu-link">
              <i class="ri-logout-box-r-line ri-2x"></i>
              <p>Log Out</p>
            </a>

          </div>
        </div>
    </nav>
  </div>

  <header class="section__container header__container" id="home">
    <div class="header__image">
      <img src="assets/landing_page/img/header.png" alt="header" />
    </div>
    <div class="header__content">
      <h1>Elevate Your Transportation Experience with <span>SVN8</span>.</h1>

    </div>
  </header>

  <section class="section__container special__container" id="special">
    <h2 class="section__header">Our Main Feature</h2>
    <p class="section__description">
      This fleet management system is designed with the goal of not simply being a tool to track and manage vehicle and
      driver information, but also a smart solution to help optimize trips, Ensure vehicle maintenance is performed on
      time, and improve driver performance.
    </p>
    <div class="special__grid">
      <div class="special__card">
        <img src="assets/landing_page/img/feature2.png" alt="special" />
        <h4>Vehicle Management</h4>
        <p>
          Create, update, and track vehicle information, including scheduling routine
          maintenance
        </p>
      </div>
      <div class="special__card">
        <img src="assets/landing_page/img/feature2.png" alt="special" />
        <h4>Driver Management</h4>
        <p>
          Track personal information, qualifications, and driving history, as well as assign drivers to trips
        </p>
      </div>
      <div class="special__card">
        <img src="assets/landing_page/img/feature2.png" alt="special" />
        <h4>Trip Management</h4>
        <p>
          Plan and optimize routes, calculate expected costs, and
          track trip status in real time.
        </p>
      </div>
    </div>
  </section>

  <section class="section__container explore__container">
    <div class="explore__image">
      <img src="assets/landing_page/img/explore.png" alt="explore" />
    </div>
    <div class="explore__content">
      <h1 class="section__header">SVN8 Performance</h1>
      <p class="section__description">
        We demonstrate detailed reports on revenue, costs, and driver performance in order to evaluate the work of our
        team.
      </p>
    </div>
  </section>

  <footer class="footer" id="contact">
    <div class="footer__bar">
      Copyright © 2024 SVN8. All rights reserved.
    </div>
  </footer>


  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="main.js"></script>
</body>

</html>