<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <link rel="stylesheet" href="styles.css" />
  <title>SVN8 VEHICLE TEAM</title>
</head>

<body>
  <div class="hero">
    <nav>
      <div class="nav__header">
        <div class="logo nav__logo">
          <a href="user_page">SVN8<span>TEAM</span></a>
        </div>

        <div class="nav__menu__btn" id="menu-btn">
          <span><i class="ri-menu-line"></i></span>
        </div>
      </div>

      <ul class="nav__links" id="nav-links">
        <li><a href="user_vehicle">Vehicle</a></li>
        <li><a href="user_driver">Driver</a></li>
        <li><a href="user_trip">Trip</a></li>
        <li><a href="user_report">Team report</a></li>
      </ul>

      <i class="ri-account-circle-fill ri-2x" onclick="toggleMenu()"></i>

        <div class="sub-menu-wrap" id="subMenu">
          <div class="sub-menu">

            <div class="user-info">
              <i class="ri-user-2-fill ri-2x"></i>
              <p><%- user.name %></p>
            </div>

            <hr>

            <a href="user_profile" class="sub-menu-link">
              <i class="ri-id-card-line ri-2x"></i>
              <p>Driver Profile</p>
            </a>

            <a href=".." class="sub-menu-link">
              <i class="ri-logout-box-r-line ri-2x"></i>
              <p>Log Out</p>
            </a>

          </div>
        </div>

    </nav>
  </div>

  <footer class="footer" id="contact">
    <div class="footer__bar">
      Copyright © 2024 SVN8. All rights reserved.
    </div>
  </footer>

  <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="main.js"></script>
</body>

</html>