<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <link rel="stylesheet" href="styles.css" />
  <title>SVN8 VEHICLE TEAM</title>
</head>

<body>
  <nav>
    <div class="nav__header">
      <div class="logo nav__logo">
        <a href="user_page">SVN8<span>TEAM</span></a>
      </div>

      <div class="nav__menu__btn" id="menu-btn">
        <span><i class="ri-menu-line"></i></span>
      </div>
    </div>

    <ul class="nav__links" id="nav-links">
      <li><a href="user_vehicle">Vehicle</a></li>
      <li><a href="user_driver">Driver</a></li>
      <li><a href="user_trip">Trip</a></li>
      <li><a href="user_report">Team report</a></li>
    </ul>

    <a href="..">
      <div class="explore__btn">
        <button class="btn">
          Log Out <span><i class="ri-arrow-right-line"></i></span>
        </button>
      </div>
    </a>

  </nav>


  <footer class="footer" id="contact">
    <div class="footer__bar">
      Copyright © 2024 SVN8. All rights reserved.
    </div>
  </footer>


  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="main.js"></script>
</body>

</html>